
html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: grey;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.uppercase { text-transform: uppercase; }

/* primary-header */

.logo {
    width: 3rem;
    height: 3rem;
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header{
    align-items: center;
    justify-content: space-between;
}

.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(0, 0%, 100%, 0.5)
    backdrop-filter: blur(2rem);
}

@supports (backdrop-filter: blur(2rem)) {
    .primary-navigation {
        background: hsl(0, 0%, 100%, 0.5);
        backdrop-filter: blur(2rem);
    }
}

.primary-navigation a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-inline-end: .5em;
}

@media (max-width: 35em) {
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: 10rem 2em;


    }
}


body {
    background-size: cover;
    background-position: bottom center;
}
/* home */
.home {
    background-image: url(../assets/background.jpg);
}
/* 
@media (min-width: 35rem) {
    .home {
        background-position: center center;
        background-image: url(./assets/home/background-home-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .home {
        background-image: url(./assets/home/background-home-desktop.jpg);
    }
}  */
